################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Legacy solution/v15
/.vs/Legacy_solution/v15/Server/sqlite3
